<h1>Contact</h1>
<!-- <p>Mail:<a href="diveshkkolhe@gmail.com"></a></p>
<p>Phone:<a href="7447758660">7447758660</a></p>
<h1 style="text-align: center; margin: 30px 0;">Contact Me</h1> -->
<p>Email: <a href="mailto:diveshkkolhe@gmail.com">diveshkkolhe@gmail.com</a></p>
<p>Phone: <a href="tel:7447758660">7447758660</a></p>

<p>Email: <a href="mailto:shubhammohite2001@gmail.com">shubhammohite2001@gmail.com</a></p>
<p>Phone: <a href="tel:8850884153">8850884153</a></p>


<!-- <p>Email: <a href="mailto:sahunikhil162@gmail.com">sahunikhil162@gmail.com</a></p>
<p>Phone: <a href="tel:8879885317">8879885317</a></p> -->


 
